<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Instagram_account", "https://www.instagram.com/santycast_04/", class: "text-white" %></small>
  </div>
</footer>
